@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

:root{
    --bg-color: #799351;
    --second-bg-color: #ededed;
    --text-color:#131212;
    --main-color: #A1DD70;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
    background: var(--second-bg-color);
}
label {
    font-size: 1.5rem;
}


.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.navbar a{
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.dropdown {
    background: transparent;
    margin-left: 35px;
    font-size: 30px;
    font-weight: 500px;
    border: none;
}